.mainFxmlClass {
    
}

.root {
    -fx-background-image: url("/Image/backgroundlogin.jpg");
}

#title {
    -fx-font-size: 30px;
    -fx-font-family: "Arial Black"; 
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.label {
    -fx-font-family: "Microsoft JhengHei";
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#red {
    -fx-font-family: "Microsoft JhengHei";
    -fx-font-size: 24px;
    -fx-text-fill: #ff0000;
/*    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
}

.text-field{
    -fx-font-size: 24px;
    -fx-max-height:50;
    -fx-max-width:350;
    -fx-font-family: "Microsoft JhengHei";
    -fx-background-radius:10;
    -fx-background-insets:2;
    -fx-effect:dropshadow(three-pass-box,#8aff93,20,0,0,0);
}

.password-field{
    -fx-font-size: 24px;
    -fx-max-height:50;
    -fx-max-width:350;
    -fx-background-radius:10;
    -fx-background-insets:2;
    fx-effect:dropshadow(three-pass-box,#8aff93,20,0,0,0);
}

.combo-box{
    -fx-font-size: 24px;
    -fx-font-family: "Microsoft JhengHei";
    -fx-max-height:50;
    -fx-max-width:350;
    -fx-background-radius:10;
    -fx-background-insets:3;
    -fx-border-width:2;
    -fx-effect:dropshadow(three-pass-box,#8aff93,20,0,0,0);
}

.button {
    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#f5872c, #ffd1ac);
}

.button:focused{
    -fx-background-color: linear-gradient(#f5872c, #ffd1ac);
}